* {
  box-sizing: border-box;
}
body {
  background-color: #45629d;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: sans-serif;
}
.text-center {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}
.ListItems {
  background-color: #fff;
  color: #45629d;
}
.ListItems p {
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.ListItems span {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 20;
  border: 0.3px solid #ddd;
}

.ListItems span.title {
  background-color: #2abaee;
  color: #fff;
}
.ListItems span.name,
form input[type="text"] {
  width: 60%;
}
.ListItems span.age,
form input[type="number"] {
  width: 30%;
}

.ListItems span.action,
form input[type="submit"] {
  width: 10%;
}
.ListItems span.icon {
  color: red;
  cursor: pointer;
}

form input {
  background-color: #ebebeb;

  padding: 10px;
  border: transparent;
  border: 0.3px solid #ccc;
}

.submit {
  background: #2abaee;
  color: #fff;

  border: 0.3px solid #2abaee;
  cursor: pointer;
}

.Appcontainer {
  width: 60%;
  margin: 10% auto;
}
